
<mat-expansion-panel>
  <mat-expansion-panel-header>
    Configuration
  </mat-expansion-panel-header>
  <mat-nav-list>
    <mat-list-item routerLink="/modules">
      Modules
    </mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    Administration
  </mat-expansion-panel-header>
  <mat-nav-list>
    <mat-list-item routerLink="/administration/modules">
      Modules
    </mat-list-item>
    <mat-list-item routerLink="/administration/contexts">
      Contexts
    </mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>
