<mat-card>
  <mat-card-header>
    <h1>Configuration patterns for module {{module$ | async}}</h1>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8 table-container">
      <div class="action-container">
        <button mat-raised-button (click)="openModal()">Add</button>
        <button mat-raised-button (click)="openModal(selected)" [disabled]="!selected">Edit</button>
        <button mat-raised-button (click)="openConfirmationModal()" [disabled]="!selected">Delete</button>
      </div>
      <app-configuration-pattern-list [dataSource]="patterns$ | async"
                                      (afterSelection)="selected = $event">
      </app-configuration-pattern-list>
    </div>
  </mat-card-content>
</mat-card>
