<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menu icon" (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
  </button>
  <span>ConfigurationService</span>
  <span class="example-spacer"></span>
  <mat-form-field>
    <mat-label>Choose context</mat-label>
    <mat-select [formControl]="contextControl">
      <mat-option *ngFor="let context of contexts$ | async" [value]="context">{{context.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<div style="height: 93vh">
<mat-drawer-container class="sidenav-container" >

  <mat-drawer #drawer class="sidenav" mode="side">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Configuration
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/administration/modules">
          Modules
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Administration
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="/administration/modules">
            Modules
          </mat-list-item>
          <mat-list-item routerLink="/administration/contexts">
            Contexts
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>

  </mat-drawer>

  <div class="content" *ngIf="contextChosen">
    <router-outlet></router-outlet>
  </div>

  <div class="content" *ngIf="!contextChosen">
    <app-context-list (afterSelection)="setContext($event)"></app-context-list>
  </div>

</mat-drawer-container>
</div>

<!--

    <div>
      <button mat-button routerLink="/contexts">Contexts</button>
    </div>
    <div>
      <button mat-button routerLink="/administration/modules">Modules</button>
    </div>

-->
