.example-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 8vh;
  align-items: flex-start;
  justify-content: center;
}

.sidenav {
  padding: 0px;
  height: 100%;
  width: 10vw;
}
