.example-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  height: 100%;
}
