<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menu icon" (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
  </button>
  <span>ConfigurationService</span>
  <span class="example-spacer"></span>
  <span>Choose context TODO</span>
</mat-toolbar>
<div style="height: 93vh">
<mat-drawer-container class="sidenav-container" >

  <mat-drawer #drawer class="sidenav" mode="side">
    <p>TODO</p>
  </mat-drawer>

  <div class="content">

  </div>

</mat-drawer-container>
</div>
