@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

table {
  width: 80vw !important;
}

.selected-row {
  font-weight: bold;
  background-color: silver !important;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: darkgrey;
}


.mat-mdc-snack-bar-container {
  &.snackbar-success {
    --mdc-snackbar-container-color: rgba(0, 252, 92, 0.58);
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.snackbar-error {
    --mdc-snackbar-container-color: #8B0000FF;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.action-container {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
