<mat-card>
  <mat-card-header>
    <h1>Contexts</h1>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div class="action-container">
        <button mat-raised-button (click)="openModal()">Add</button>
        <button mat-raised-button (click)="openModal(selected)" [disabled]="!selected">Edit</button>
        <button mat-raised-button (click)="openConfirmationModal()" [disabled]="!selected">Delete</button>
      </div>
      <app-context-list [width]="80" [source]="contexts$ | async" (afterSelection)="selected = $event"></app-context-list>
    </div>
  </mat-card-content>
</mat-card>
